@if (film.film_image) {
  <main>
    <div class="filmy">
      <div class="photo-filmu">
        <img class="photo-film-img" [src]="film.film_image">
      </div>
      <div class="ocena" id="rating-stars"></div>
      <div class="film-info">
      <span>
        @for (star of arrRating; track star) {
          <img src="./assets/star.png" alt="Star">
        }
      </span>
        <div class="title">Nazwa: {{ film.title }}</div>
        <div class="gatunek">Gatunek: {{ film.genre }}</div>
        <div class="year">Rok: {{ film.year }}</div>
        <div class="description">Opis: {{ film.description }}</div>
        <div class="more">
          <div class="add-comm" (click)="filmInfo(film.id)">Dodać komentarz</div>
          <img src="./assets/play.png" (click)="play(film.id)" alt="Play">
        </div>
      </div>
    </div>
  </main>
}
